@keyframes offIGoThen {
  50% {
    opacity: 0;
    margin-top: -10%; }
  100% {
    opacity: 1;
    margin-top: 0%; } }

.is-animated {
  animation: offIGoThen 2s ease; }

.select-form__item-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 1px solid #222;
  border-radius: 2px; }

.select-form__item-input:checked ~ .select-form__item-indicator {
  background-color: #fff; }
  .select-form__item-input:checked ~ .select-form__item-indicator .indicator-star {
    opacity: 1;
    transition: all .5s ease; }

.indicator-star {
  position: relative;
  opacity: 0;
  left: 3px; }
  .indicator-star__part {
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    border-top-right-radius: 100%; }
    .indicator-star__part:nth-of-type(1) {
      top: 10px;
      left: 0px; }
    .indicator-star__part:nth-of-type(2) {
      top: 10px;
      left: 6px;
      transform: rotate(270deg); }
    .indicator-star__part:nth-of-type(3) {
      top: 4px;
      left: 0px;
      transform: rotate(90deg); }
    .indicator-star__part:nth-of-type(4) {
      top: 4px;
      left: 6px;
      transform: rotate(180deg); }

.select-form {
  width: 100%;
  border: 2px solid #222;
  border-radius: 2px; }
  .select-form * {
    font-size: 14px;
    text-transform: uppercase; }
  .select-form__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 270px;
    padding: 20px; }
    .select-form__list * {
      cursor: pointer; }
  .select-form__item {
    position: relative;
    display: flex;
    border: 1px solid #222;
    border-radius: 2px; }
    .select-form__item-input {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      margin: 0;
      opacity: 0; }
    .select-form__item-label {
      width: 100%;
      padding: 10px 10px 10px 40px; }
    .select-form__item:hover {
      background-color: #ecf0f1; }
    .select-form__item:hover .select-form__item-indicator {
      background-color: #fff; }
  .select-form__button {
    width: 100%;
    height: 36px;
    border: none;
    border-top: 2px solid #222;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    cursor: pointer; }
    .select-form__button:hover {
      background-color: #ecf0f1; }

.select-form__item-input:checked ~ .select-form__item-label {
  background-color: #222;
  color: #e0e0e0; }

.is-submitted {
  color: #fff;
  background-color: #defccf;
  border-color: #47c20a; }
  .is-submitted * {
    cursor: auto; }
  .is-submitted .select-form__button {
    background-color: #47c20a;
    color: #fff;
    border-top: none; }
  .is-submitted .select-form__list {
    height: 80px;
    padding: 0;
    border: 2px solid #fff; }
  .is-submitted .select-form__item {
    border: none; }
    .is-submitted .select-form__item-indicator {
      display: none; }
    .is-submitted .select-form__item-label {
      width: 100%;
      padding: 0;
      background: none;
      text-align: center;
      font-weight: 300;
      letter-spacing: 1px; }
  .is-submitted .select-form__item-input:checked ~ .select-form__item-label {
    color: #47c20a;
    background-color: #defccf; }

body {
  font-family: Sans-Serif; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 260px;
  transform: translate(-50%, -50%); }

.is-hidden {
  display: none; }
