@import './variables';

html {
    font-size: 100%;
  }
  
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: 1.33;
  color: $text;
  background-color: $background;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  outline: 0;

  &:focus,
  &:active {
    outline: 0;
  }
}

button {
  font-family: $base-font-family;
  cursor: pointer;
  background: none;

  &::-moz-focus-inner {
    border: 0;
  }
}

input,
textarea {
  font-family: $base-font-family;
  box-sizing: border-box;
}

.header__topbar,
.header__main {
  margin: 0 auto;
}

.header__main {
  max-width: 1148px;
}

a {
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: $background;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}