// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:500,700,900');
$base-font-family: 'Roboto', sans-serif;
$base-font-weight: 500;

// Colors

$background: #fff;
$text: #282828;
$hero: #ffc800;
$accent: #4f4dfc;