.btn {
  background-color: $background;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 1;
}

.btn__logo {
  margin-left: 10px;
  width: 90px;
}

.btn--header {
  width: 250px; 
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); 
  font-weight: 700;
}

.btn--box {
  color: $accent;
  width: 150px;
  border: 1px solid $accent;
  padding: 10px 15px;
  position: absolute;
  bottom: 40px;
}

.btn--dark {
  background-color: $accent;
  color: $background;
}

.btn--footer {
  background-color: $accent;
  color: $background;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 90px;
  padding: 15px 25px;
}
