.card {
  width: 305px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 6px 11px 0 rgba(91, 89, 252, 0.1), 0 0 1px 0 rgba(79, 77, 252, 0.1);
  padding: 30px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__icon {
    width: 30px;
  }

  &__text {
    font-size: 16px;
    text-align: left;    
  }

  &__id {
    display: flex;
  }

  &__avatar {
    height: 100px;
    margin-left: -25px;
    width: 100px;
  }

  &__info {
    text-align: left;
  }

  &__title {
    margin: 5px 0;
  }

  &__subtitle {
    font-size: 13px;
    margin-top: 5px;
    opacity: 0.6;
  }
}

@media #{$screen-sm} {
  .card {
    width: 550px;
  }

  .card__text {
    font-size: 24px;
  }
}