@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
html {
  font-size: 100%; }

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  color: #282828;
  background-color: #fff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

* {
  -webkit-tap-highlight-color: transparent; }

a,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  outline: 0; }
  a:focus, a:active,
  input:focus,
  input:active,
  button:focus,
  button:active,
  textarea:focus,
  textarea:active,
  select:focus,
  select:active {
    outline: 0; }

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: none; }
  button::-moz-focus-inner {
    border: 0; }

input,
textarea {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

.btn {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 1; }

.btn__logo {
  margin-left: 10px;
  width: 90px; }

.btn--header {
  width: 250px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  font-weight: 700; }

.btn--box {
  color: #4f4dfc;
  width: 150px;
  border: 1px solid #4f4dfc;
  padding: 10px 15px;
  position: absolute;
  bottom: 40px; }

.btn--dark {
  background-color: #4f4dfc;
  color: #fff; }

.btn--footer {
  background-color: #4f4dfc;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 90px;
  padding: 15px 25px; }

.burger {
  float: right;
  padding: 10px;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  border: 0; }
  .burger.is-active .burger-inner {
    transform: rotate(45deg);
    transition-delay: .14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .burger.is-active .burger-inner::before {
    top: 0;
    opacity: 0;
    transition: top .1s ease, opacity .1s .14s ease; }
  .burger.is-active .burger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

.burger-box {
  position: relative;
  display: block;
  width: 25px;
  height: 16px; }

.burger-inner {
  top: 50%;
  display: block;
  margin-top: -1px;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .burger-inner, .burger-inner::before, .burger-inner::after {
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: ease; }
  .burger-inner::before, .burger-inner::after {
    display: block;
    content: ''; }
  .burger-inner::before {
    top: -7px;
    transition: top .1s .14s ease, opacity .1s ease; }
  .burger-inner::after {
    bottom: -7px;
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.card {
  width: 305px;
  border-radius: 4px;
  box-shadow: 0 6px 11px 0 rgba(91, 89, 252, 0.1), 0 0 1px 0 rgba(79, 77, 252, 0.1);
  padding: 30px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .card__icon {
    width: 30px; }
  .card__text {
    font-size: 16px;
    text-align: left; }
  .card__id {
    display: flex; }
  .card__avatar {
    height: 100px;
    margin-left: -25px;
    width: 100px; }
  .card__info {
    text-align: left; }
  .card__title {
    margin: 5px 0; }
  .card__subtitle {
    font-size: 13px;
    margin-top: 5px;
    opacity: 0.6; }

.box {
  height: 350px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 6px 11px 0 rgba(91, 89, 252, 0.1), 0 0 1px 0 rgba(79, 77, 252, 0.1);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .box--dark {
    height: 380px;
    border: 3px solid #4f4dfc; }
  .box__main {
    font-size: 36px;
    font-weight: 900;
    margin: 20px 0; }
  .box__info {
    font-size: 16px;
    font-weight: 500; }
  .box__texts {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .box__text {
    margin: 5px; }

.header {
  background-color: #ffc800;
  color: #fff;
  padding: 20px; }
  .header__logo {
    width: 90px; }
  .header__title {
    margin: 0; }
  .header__main {
    margin-top: 30px;
    padding: 0 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__text {
    font-weight: 300;
    padding: 0 15px;
    z-index: 1; }
    .header__text--small {
      font-size: 13px; }
  .header__image {
    margin-top: -60px;
    width: 320px; }
  .header__icons {
    display: flex;
    justify-content: space-around;
    width: 100%; }

.header__image + .header__text {
  margin-top: -60px;
  opacity: 0.6; }

.section {
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: center; }
  .section__title, .box__title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0; }
  .section__icon {
    width: 100px;
    height: 100px;
    margin: 0; }
    .section__icon--large {
      width: 120px;
      height: 120px;
      margin-top: 25px; }
  .section__image {
    margin-top: 30px;
    height: 250px; }
  .section__row {
    display: flex;
    margin-top: 25px; }
  .section__column {
    display: flex;
    flex-direction: column;
    text-align: left; }
    .section__column .section__subtitle {
      margin: 5px 0; }
  .section__subtitle {
    font-size: 18px;
    font-weight: 800; }
  .section__text {
    font-size: 14px;
    line-height: 1.5;
    margin: 0; }

.section-offer .section__text {
  padding: 0 50px; }

.section-benefits {
  padding: 40px 25px; }
  .section-benefits .section__title, .section-benefits .box__title {
    padding: 0 40px; }
  .section-benefits .section__text {
    margin-top: 25px; }

.section__title + .section__text, .box__title + .section__text {
  padding: 0 15px;
  margin: 15px 0; }

.section-testimonials {
  padding-left: 15px; }

.section-information {
  background-color: #fafafa;
  padding: 40px 25px; }

.footer {
  position: relative; }
  .footer__image {
    bottom: 0;
    position: absolute;
    width: 100%; }
