.section {
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: center;

  &__title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
  }

  &__icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;

    &--large {
      width: 120px;
      height: 120px;
      margin-top: 25px; 
    }
  }

  &__image {
    margin-top: 30px;
    height: 250px;
  }

  &__row {
    display: flex;
    margin-top: 25px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    text-align: left;

    .section__subtitle {
      margin: 5px 0;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 800;   
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
}

.section-offer {
  .section__text {
    padding: 0 50px;
  }
} 

.section__title + .section__text {
  padding: 0 15px;
  margin: 15px 0;
}


.section-testimonials {
  padding-left: 15px;
}

.section-information {
  background-color: $background-dark;
  padding: 40px 25px;
}