.select-form__item-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: $item-border;
  border-radius: $border-radius;
}

.select-form__item-input:checked ~ .select-form__item-indicator {
  background-color: $base;

  .indicator-star {
    opacity: 1;
    transition: all .5s ease;
  }
}

.indicator-star {
  position: relative;
  opacity: 0;
  left: 3px;

  &__part {
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: $item-border;
    border-right: $item-border;
    border-top-right-radius: 100%;

    &:nth-of-type(1) {
      top: 10px;
      left: 0px;
    }

    &:nth-of-type(2) {
      top: 10px;
      left: 6px;
      transform: rotate(270deg);
    }

    &:nth-of-type(3) {
      top: 4px;
      left: 0px;
      transform: rotate(90deg);
    }

    &:nth-of-type(4) {
      top: 4px;
      left: 6px;
      transform: rotate(180deg);
    }
  }
}
