.footer {
  border-bottom: none;
  position: relative;
  overflow: hidden;

  &__image {
    bottom: 0;
    left: 30px;
    position: absolute;
    width: 120%;
  }

  &__wrapper {
    background-color: $accent;
    color: $background;
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-top: 20px;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__info {
    max-width: 1148px;
    margin: 0 auto;
    display: inline;
    justify-content: space-between;
    padding: 0 40px;

    .text-bold {
      font-weight: 600;
    }

    .text-regular {
      margin: 0;
    }

    .text-link {
      color: $background;
      font-weight: 600;
      text-decoration: underline;

      &:before {
        display: none;
      }
    }

    .footer__icon {
      width: 20px;
      height: 20px;
      align-self: center;
      cursor: pointer;
    }
  }
}

@media #{$screen-only-xs} {
  .footer {
    &__wrapper {
      height: 70px;
      text-align: left;
      padding-left: 40px;
      padding-top: 9px;
    }

    &__info {
      padding: 0;
    }

    &__text {
      display: inline-block;
      width: 200px;
      text-align: left;

      & * {
        display: inline;
      }
    }

    &__icon {
      margin-bottom: 10px;
      margin-left: 90px;
    }
  }
}