@media #{$screen-sm} {
  .section-offer {
    .section__text {
      padding: 0 30px;
    }
  }

  .section__title--margin {
    margin-bottom: 30px;
  }


  .section__image {
    display: none;

    &--large {
      display: block;
      height: 580px;
      position: relative;
      right: 0;
      margin-bottom: -150px;
      margin-top: 50px;
    }
  }

  .section__row {
    width: 321px;
  }

  .section__title + .section__text {
    padding: 0 140px;
  }

  .rows-wrapper {
    justify-content: center;
  }
}
